/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

:root {
    --slicko-1: #8F43C6;
    --slicko-2: #DF4FCD;
    --slicko-3: #ED9F2A;
    --slicko-4: #E8EA60;
    --slicko-5: #4AE3BF;
    --slicko-6: #5D51D7;
    --slicko-7: #F6FBD9;
    --slicko-8: #1E1A20;
    --bottom-div-border: 1em;
}

@font-face {
    font-family: 'Monogram';
    src: url('monogram.ttf');
}

html {
    height: 100%;
}

a,
u {
    text-decoration: none;
}

body {
    background-color: var(--slicko-7);
    color: var(--slicko-1);
    font-family: 'Monogram';
    padding: 0;
    margin: 0;
    min-height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

a {
    color: var(--slicko-5);
}

a:visited {
    color: var(--slicko-6);
}

.main {
    background-color: var(--slicko-8);
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    display: grid;
    justify-content: center;
    align-items: center;
    border-bottom: var(--bottom-div-border) solid var(--slicko-1);
}

.games {
    background-color: var(--slicko-8);
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    display: grid;
    justify-content: center;
    align-items: center;
    border-bottom: var(--bottom-div-border) solid var(--slicko-1);
}

.games-home {
    justify-content: left;
    align-items: center;
    display: flex;
}

.games-home h2,
p {
    margin-left: 0.5em;
}

.games-home p {
    color: var(--slicko-7);
}


.watch_list {
    background-color: var(--slicko-1);
    color: var(--slicko-7);
    max-width: 90%;
    padding: 10px;
    display: flex;
    border: 2px solid var(--slicko-5);
    border-radius: 5px;
    overflow: auto;
}


.watch_item_rating {
    font-size: 16px;
    color: var(--slicko-4);
    height: 20px;
}

.watch_item_title {
    color: var(--slicko-3);
    height: 32px;
    overflow: auto;
    align-content: bottom;
}

.socials {
    display: table;
    width: 100%;
    table-layout: fixed;

    a {
        display: table-cell;
        text-align: center;
    }
}

.watch_item {

    flex: 1;
    font-size: 8px;
    max-width: 320;
    word-wrap: break-word;

    img {
        width: 100px;
        height: 150px;
    }


    padding: 5px;
}

.watch_item_img_text_div {
    display: flex;
    flex: 1;
    font-size: 16px;
    color: var(--slicko-7);
}
