/* CSS Fixes and Improvements */

:root {
    --slicko-1: #8F43C6;
    --slicko-2: #DF4FCD;
    --slicko-3: #ED9F2A;
    --slicko-4: #E8EA60;
    --slicko-5: #4AE3BF;
    --slicko-6: #5D51D7;
    --slicko-7: #F6FBD9;
    --slicko-8: #1E1A20;
    --bottom-div-border: 1em;
}

@font-face {
    font-family: 'Monogram';
    src: url('monogram.ttf');
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Monogram', sans-serif;
}

body {
    background-color: var(--slicko-7);
    color: var(--slicko-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: var(--slicko-5);
    text-decoration: none;
}

a:visited {
    color: var(--slicko-6);
}

.main {
    width: 80%;
    background-color: var(--slicko-8);
    padding: 2em 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: var(--bottom-div-border) solid var(--slicko-1);
}

.header {
    display: flex;
    padding-top: 1em;
}

.header img {
    padding: 4px;
    border: 2px solid var(--slicko-6);
    border-radius: 4px;
    background-color: var(--slicko-7);
    width: 64px;
    height: 64px;
    margin-right: 2em;
}

.games {
    background-color: var(--slicko-8);
    padding: 2em 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: var(--bottom-div-border) solid var(--slicko-1);
}

.games-home {
    display: flex;
    align-items: center;
}

.games_link {
    display: flex;
    font-size: 32px;
    align-content: flex-end;
}

.games-home h2,
.games-home p {
    margin-left: 0.5em;
}

.games-home p {
    color: var(--slicko-7);
}

.watch_list {
    background-color: var(--slicko-1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--slicko-7);
    max-width: 90%;
    max-height: 320px;
    padding: 10px;
    border: 2px solid var(--slicko-5);
    border-radius: 5px;
    overflow: auto;
}

.watch_item {
    flex: 1;
    font-size: 8px;
    max-width: 320px;
    word-wrap: break-word;
    padding: 5px;
}

.watch_item img {
    width: 100px;
    height: 150px;
}

.watch_item_info {
    display: flex;
    align-items: baseline;

    img {
        margin-left: 4px;
        width: 16px;
        height: 16px;
    }
}

.watch_list_legend {
    display: flex;
    align-items: baseline;
    color: var(--slicko-7);

    img {
        margin-right: 10px;
        width: 16px;
        height: 16px;
    }
}



.watch_item_rating {
    font-size: 16px;
    font-weight: bold;
    color: var(--slicko-4);
    height: 20px;
}

.watch_item_title {
    color: var(--slicko-3);
    font-size: 16px;
    height: 32px;
    overflow: auto;
    display: flex;
    align-items: flex-end;
}



.socials {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.socials a {
    display: table-cell;
    text-align: center;
}

.watch_item_img_text_div {
    display: flex;
    flex: 1;
    font-size: 16px;
    color: var(--slicko-7);

}

.watch_item_img_text_div img {
    margin-right: 10px;
    border: 2px solid var(--slicko-8);
    border-bottom: var(--bottom-div-border) solid var(--slicko-8);
}

.watch_item_img_text_div p {
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--slicko-8);
    border-bottom: var(--bottom-div-border) solid var(--slicko-6);
    overflow-y: auto;
}
